body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.main-bg {
    background-color: #FFDAB9;
}

#loginArea {
    width: 33%;
}

#headphoneClipart {
    background-color: #FFDAB9;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#modeSwitch {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

#songQueue {
    position: fixed;
    right: 30px;
    top: 30px;
}

#songQueue p {
    text-align: right;
    color: #858181;
}

#playback {
    width: 25%;
    margin-top: 20%;
    text-align: center;
}

#playback button {
    background-color: #aea8a8;
}

#playback p {
    font-size: 1.1em;
}

#playback img {
    margin-bottom: 10px;
}

.largeQueue {
    font-size: 1.75em;
}

.smallQueue {
    font-size: 1.1em;
}

#mainPanel {
    border-radius: 25px;
    background-color: #F5EAEA;
}

.controlPanel {
    background-color: #F2F2F2;
}

.controlPanel button {
    background-color: #FFDAB9;
}